<h1>Time-Line chart</h1>
<h2>app-lua-example  &    app-powerful-timeline </h2>
<h2>These 2 charts is important!</h2>
<!-- <app-lua-example-pie></app-lua-example-pie> -->


<app-lua-example></app-lua-example>

<app-powerful-timeline></app-powerful-timeline>

<app-multiple-series></app-multiple-series>

<app-basic></app-basic>

<app-custom-colors></app-custom-colors>

<app-multi-series></app-multi-series>

<app-advanced></app-advanced>



<!-- <app-dumbbell></app-dumbbell> -->


<!-- <h1>Pie /Donut chart</h1>
<h2>app-powerful-pie-chart,powerful-pie-chart-compare, lua-example-pie, </h2>
<h2>These 3 charts is important!</h2>
  
<app-lua-example-pie></app-lua-example-pie>

<app-powerful-pie-chart-compare></app-powerful-pie-chart-compare>

<app-powerful-pie-chart></app-powerful-pie-chart>

<h2>Pie chart</h2>
<app-simple-pie></app-simple-pie>
<app-monochrome-pie></app-monochrome-pie>

<h2>Donut chart</h2>
<app-simple-donut></app-simple-donut>
<app-gradient-donut></app-gradient-donut>
<app-semi-donut></app-semi-donut>
<app-donut-with-pattern></app-donut-with-pattern> -->
