<h1>Pie /Donut chart</h1>
<h2>powerful pie and donut chart</h2>
<!-- <app-simple-pie></app-simple-pie> -->

<!-- <div class="flex-container">
    <div><app-powerful-pie-chart></app-powerful-pie-chart></div>
    <div><app-powerful-donut-chart></app-powerful-donut-chart></div>

  </div> -->

<app-powerful-pie-chart ></app-powerful-pie-chart>
<app-powerful-pie-chart-compare></app-powerful-pie-chart-compare>

<app-powerful-donut-chart></app-powerful-donut-chart>

<h2>Pie chart</h2>
<app-simple-pie></app-simple-pie>
<app-monochrome-pie></app-monochrome-pie>

<h2>Donut chart</h2>
<app-simple-donut></app-simple-donut>
<app-gradient-donut></app-gradient-donut>
<app-semi-donut></app-semi-donut>
<app-donut-with-pattern></app-donut-with-pattern>


<!-- <app-any-test></app-any-test>

<app-theme-test></app-theme-test>

<h1>Mixed Charts</h1> -->

<!-- <app-mixed-chart-test2></app-mixed-chart-test2> -->

<!-- <app-mixed-chart-test1></app-mixed-chart-test1> -->

<!-- <app-line-column></app-line-column>

<app-mutiple-y-axis></app-mutiple-y-axis>

<app-line-area></app-line-area>

<app-line-column-area></app-line-column-area> -->




<!-- <app-pie-chart></app-pie-chart>

<h1>Box Charts</h1>

<app-box-plot></app-box-plot>

<app-boxplot-scatter></app-boxplot-scatter>

<app-horizontal-boxplotchart></app-horizontal-boxplotchart>

<h1>Bar Charts</h1>
<app-baseic-bar-chart></app-baseic-bar-chart>

<app-stacked-bar-chart></app-stacked-bar-chart>

<app-percentage-stacked-bar-chart></app-percentage-stacked-bar-chart>

<app-group-bar-chart></app-group-bar-chart>

<app-bar-reversed></app-bar-reversed>

<app-custom-datalables></app-custom-datalables>

<app-patterned-bar></app-patterned-bar>

<app-bar-with-marke></app-bar-with-marke rs>


<h1>Bubble Charts</h1>

<app-bubble-chart></app-bubble-chart>

<app-scattter-chart></app-scattter-chart>

<app-scatter-datetime></app-scatter-datetime>

<app-bubble-threed></app-bubble-threed> -->

<!-- <h1>Time Line</h1> -->
<!-- <app-basic-timeline></app-basic-timeline> -->

<!-- <app-different-color-for-each-bar></app-different-color-for-each-bar> -->

<!-- <app-compare></app-compare>
<app-multi-series-timeline></app-multi-series-timeline> -->

<!-- <app-advanced-timeline></app-advanced-timeline> -->

<!-- Missing timeline group row documentation (13.10.2022) may be tested at a later date. -->
<!-- <app-timeline-group-rows></app-timeline-group-rows> -->


<!-- <h1>Mixed Charts</h1>

<app-mixed-chart-test1></app-mixed-chart-test1>

<app-line-column></app-line-column>

<app-mutiple-y-axis></app-mutiple-y-axis>

<app-line-area></app-line-area>

<app-line-column-area></app-line-column-area> -->