<!--The content below is only a placeholder and can be replaced.-->
<div *ngIf="show " id="chart" style="background-color: antiquewhite; width: 500px;height:500px">
    <apx-chart   style="background-color: blueviolet; display: block; height: 300px;"
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [xaxis]="chartOptions.xaxis"
      [dataLabels]="chartOptions.dataLabels"
      [grid]="chartOptions.grid"
      [stroke]="chartOptions.stroke"
      [title]="chartOptions.title"
    ></apx-chart>
  </div>
  