<h3 style="color: red;">powerful-pie-chart</h3>
<!--The content below is only a placeholder and can be replaced.-->
<div id="chart">
    <!-- <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [labels]="chartOptions.labels"
      [responsive]="chartOptions.responsive"
    ></apx-chart> -->
    <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [title]="chartOptions.title"
      [subtitle]="chartOptions.subtitle"
      [theme]="chartOptions.theme"
      [labels]="chartOptions.labels"
      [responsive]="chartOptions.responsive"
      [legend]="chartOptions.legend"
      [dataLabels]="chartOptions.dataLabels"
      [tooltip]="chartOptions.tooltip"
      [colors]="chartOptions.colors"
    ></apx-chart>
  </div>
  <p>Title: left</p>

  <!-- <div id="chart">
    <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [labels]="chartOptions.labels"
      [title]="chartOptions.title"
      [theme]="chartOptions.theme"
      [responsive]="chartOptions.responsive"
      [dataLabels]="chartOptions.dataLabels"

    ></apx-chart>
  </div> -->