<h5>compare</h5>
<!--The content below is only a placeholder and can be replaced.-->
<div id="chart1">
  <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [fill]="chartOptions.fill"
  [grid]="chartOptions.grid" [dataLabels]="chartOptions.dataLabels" [plotOptions]="chartOptions.plotOptions"
  [xaxis]="chartOptions.xaxis" [yaxis]="chartOptions.yaxis" [legend]="chartOptions.legend"
  [tooltip]="chartOptions.tooltip" [colors]="chartOptions.colors"></apx-chart>
  </div>
<!-- <h5>compare2</h5>

<div id="chart1">
    <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [fill]="chartOptions.fill"
      [grid]="chartOptions.grid"
      [dataLabels]="chartOptions.dataLabels"
      [plotOptions]="chartOptions.plotOptions"
      [xaxis]="chartOptions.xaxis"
      [yaxis]="chartOptions.yaxis"
    ></apx-chart>
  </div> -->
  