<h3 style="color: red;">group-stacked-columns does not support by current version!</h3>
<!--The content below is only a placeholder and can be replaced.-->
<div id="chart">
    <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [stroke]="chartOptions.stroke"
      [dataLabels]="chartOptions.dataLabels"
      [plotOptions]="chartOptions.plotOptions"
      [xaxis]="chartOptions.xaxis"
      [colors]="chartOptions.colors"
      [fill]="chartOptions.fill"
      [yaxis]="chartOptions.yaxis"
      [legend]="chartOptions.legend"
    ></apx-chart>
  </div>
  