<h3 style="color: red;">lua-example-timeline-chart-initial</h3>
<!--The content below is only a placeholder and can be replaced.-->
<h5>This chart was created to test the fullest functionality</h5>
<div id="chart">
    <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [title]="chartOptions.title"
      [subtitle]="chartOptions.subtitle"
      [theme]="chartOptions.theme"
      [legend]="chartOptions.legend"
      [dataLabels]="chartOptions.dataLabels"
      [stroke]="chartOptions.stroke"

      [tooltip]="chartOptions.tooltip"
      [colors]="chartOptions.colors"
      [fill]="chartOptions.fill"

      [plotOptions]="chartOptions.plotOptions"
      [xaxis]="chartOptions.xaxis"
      [yaxis]="chartOptions.yaxis"

    ></apx-chart>
    