<h5>columns-with-roated-labels works!</h5>
<h5 style="color: red;">annotations.points is sick</h5>

<div id="chart">
    <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [dataLabels]="chartOptions.dataLabels"
      [plotOptions]="chartOptions.plotOptions"
      [yaxis]="chartOptions.yaxis"
      [xaxis]="chartOptions.xaxis"
      [stroke]="chartOptions.stroke"
      [grid]="chartOptions.grid"
      [fill]="chartOptions.fill"
      [annotations]="chartOptions.annotations"
    ></apx-chart>
  </div>
  