<p>lua-example-pie</p>
<!--The content below is only a placeholder and can be replaced.-->
<div id="chart">
    <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [title]="chartOptions.title"
      [subtitle]="chartOptions.subtitle"
      [theme]="chartOptions.theme"
      [labels]="chartOptions.labels"
      [responsive]="chartOptions.responsive"
      [legend]="chartOptions.legend"
      [dataLabels]="chartOptions.dataLabels"
      [tooltip]="chartOptions.tooltip"
      [colors]="chartOptions.colors"
      [stroke]="chartOptions.stroke"
      [states]="chartOptions.states"
      [grid]="chartOptions.grid"
      [fill]="chartOptions.fill"
      [plotOptions]="chartOptions.plotOptions"
    ></apx-chart>
  </div>
  